@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url(fonts/S6uyw4BMUTPHjxAwXjeu.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.general_container {
    width: 100%;
    top: 0;
    left: 0;
    background-image: url(images/rectangle3.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Lato, sans-serif;
    font-weight: 400;
    color: #FFFFFF;
}

.general_container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%,
    rgba(238, 61, 27, 0.8) 100%);
}

.content_holder {
    width: 1440px;
    height: 782px;
    top: 0;
    margin-left: auto;
    margin-right: auto;
}

.header {
    position: absolute;
    width: 100%;
    height: 100px;
    top: 17px;
    left: 0;
    display: flex;
    align-items: center;
}

.left_header {
    position: absolute;
    width: 172px;
    height: 100%;
    left: 165px;
}

.logo {
    position: absolute;
    width: 100%;
    height: 29px;
    left: 0;
    top: 55px;
}

.central_header {
    position: absolute;
    width: 445px;
    height: 100%;
    left: 498px;
}

.upper_menu {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 58px;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}

a {
    height: 17px;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
    color: inherit;
}

a:hover {
    font-weight: bold;
}

.right_header {
    position: absolute;
    width: 216px;
    height: 100%;
    left: 1056px;
}

.lang_select {
    position: absolute;
    width: 96px;
    height: 32px;
    top: 54px;
}

.lang_icon_frame {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 0;
    top: 0;
}

.lang_icon {
    object-fit: contain;
}

.span_frame {
    position: absolute;
    width: 32px;
    height: 22px;
    left: 32px;
    top: 10px;
}

span {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.lang_span {
    position: absolute;
    left: 11px;
}

.vector_frame {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 64px;
    top: 2px;
}

.vector {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 6px;
    top: 10px;
}

.login {
    position: absolute;
    width: 100px;
    height: 40px;
    right: 0;
    top: 50px;
}

.login_button {
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    width: 100px;
    height: 40px;
    right: 0;
    top: 50px;
    border: 1px solid #fff;
    border-radius: 6px;
    background-color: transparent;
}

.login_button:focus {
    outline: none;
}

.lang_span {
    color: #FFFFFF;
    text-transform: uppercase;
}

.title {
    position: absolute;
    width: 578px;
    height: 86px;
    left: 431px;
    top: 257px;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 86px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.comment {
    position: absolute;
    width: 540px;
    height: 124px;
    left: 450px;
    top: 382px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
}

.signUp {
    position: absolute;
    width: 160px;
    height: 50px;
    left: 640px;
    top: 545px;
}

.sign-up-button {
    width: 100%;
    height: 100%;
    border: hidden;
    border-radius: 6px;
    background: #ffffff;
    color: #ED4C5C;
    font-weight: 600;
    text-transform: uppercase;
}